<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apiserver.document.approval.mapper.PutDocumentApproveStatusMapper">
    <update id="putDocumentApproveStatus" parameterType="putDocumentApproveStatusInDto">
		UPDATE DOCUMENT_INFO
		SET APPROVE_STATUS = #{approveStatus},
		APPROVE_USER_NUM = #{approveUserNum}
		WHERE DOCUMENT_NUM = #{documentNum}
    </update>
    <update id="putDocumentApproveLine" parameterType="putDocumentApproveStatusInDto">
    	UPDATE APPROVE_LINE
    	SET APPROVE_STATUS = #{approveStatus},
    	APPROVE_MESSAGE = #{approveMessage}
    	WHERE DOCUMENT_NUM = #{documentNum}
    	AND APPROVE_USER_NUM = #{approveUserNum}
    </update>
    <select id="getNextApproveUserNum" parameterType="putDocumentApproveStatusInDto" resultType="getNextApproveUserNumOutDto">
    	SELECT APPROVE_USER_NUM
    	FROM APPROVE_LINE
    	WHERE DOCUMENT_NUM = #{documentNum}
    	AND APPROVE_STATUS IN ('I')
    	<![CDATA[ AND ROWNUM <= 1 ]]>
    	ORDER BY APPROVE_USER_NUM ASC
    </select>
    
</mapper>